html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root{
  --gradient: linear-gradient(
    135deg,
    #ffffff, 
    grey,
    #ffffff, 
    #3b82f8
  )
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  25%  { background-position: 50% 50%; }
  50%  { background-position: 100% 50%;}
  75%  { background-position: 50% 50%; }
  100% { background-position: 0% 50%;}
}

.App{
  font-size: large;
  text-decoration: bold;
  color: #000;
  min-height: 100vh;
  background-size: 500% 500%;
  background-image: var(--gradient);
  animation: gradientShift 20s ease infinite;
}

.p_box{
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  max-height: auto;
  border: 2px solid black;
  border-radius: 10px;
  border-color: grey;
  background-color: rgba(255, 255, 255, 0.05);
}

.p_box img{
  max-width: 100%;
  max-height: 100%;
}

.w_box{
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  max-height: auto;
  border: 2px solid black;
  border-radius: 10px;
  border-color: grey;
  background-color: rgba(255, 255, 255, 0.05);
}

.s_box{
  text-align: center;
  width: auto;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  max-height: auto;
  border: 2px solid black;
  border-radius: 10px;
  border-color: grey;
  background-color: rgba(255, 255, 255, 0.05);
}

.l_box{
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  max-height: auto;
  border: 2px solid black;
  border-radius: 10px;
  border-color: grey;
  background-color: rgba(255, 255, 255, 0.05);
}

.box.active {
  max-height: 1000px;
  opacity: 100;
  transform: translateY(0);
  padding: 20px;
}

.collapsible{
  font-size: medium;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.4s;
}

.collapsible:hover{
  background-color: aquamarine;
  color: rgb(97, 173, 239);
}

.content{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content h3{
  font-size: clamp(16px, 5vw, 48px)
}

.content img{
  border-radius: 50%;
  max-width: 400px;
  height: auto;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
}

.footer_container h1{
  text-align: left;
  color: hsl(0, 37%, 76%);
}

.footer_container a{
  text-align: left;
  text-decoration: none;
  color: black;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  transition: 0.4s;
}

.footer_container a:hover{
  color: #6f5252;
}

.images{
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 16px;
}

table {
  margin: 20px auto;
  border-spacing: 40px 10px;
  text-align: center;
}

ul{
  text-align: left;
}