*{
    margin: 5;
    padding: 100;    
    font-family: 'Times New Roman', Times, serif

}

body {
    background:linear-gradient(white, #3d270cef);
}

main {
    justify-items: flex-start;
    margin: 100px;
    font-size: large;
    flex-wrap: wrap;
}
.home_bar{
    display: flex;
    list-style: none;
    text-align: end;
    font-size: larger;
}

.home_item{
    margin: 0;
    text-align: right;
}

.home_item a{
    text-decoration: none;
    color:green;
}

.home_bar:hover{
    color: #3d270cef;
}

.home_button{
    color: red;
}

.dropdown button{

    font-size:larger;
    background: linear-gradient(white,rgb(131, 50, 50));
    color: #664c11ed;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.content{
    font-size:larger;
    justify-items: center;
    background-color:#385df3ef;
    box-shadow: 2 2 5 rgb(87, 53, 29)
}

p{
    color: black;
    flex-wrap: wrap;
    display: none;
}

.dropdown:hover {
    display: block;
}

.footer_container{
    width: 100%;
}

.footer{
    color: black;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.footer_heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer_heading h2{
    margin-bottom: 2rem;
}

.footer_heading a{
    text-decoration: none;
    color: black;
}

.insta_link{
    padding-left: 5px;
}

.insta_link:hover{
    background-color: #8046e4ef;
    width: 70px;
    color: white;
    border-radius: 6px;
    transition: color 0.15s, background-color 0.15s;
}

.youtube_link{
    padding-left: 5px;
}
.youtube_link:hover{
    background-color: #9b1b1bef;
    color: white;
    justify-items: center;
    border-radius: 6px;
    transition: color 0.15s, background-color 0.15s;
}
